// font color
$green: #5d8834;
$black: #343a40;
$white: #fff;
$white-navbar: #ffffff;

// text font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
$poppins: "Poppins", sans-serif;
$playfair: "Playfair Display", serif;
$mon: "Montserrat", sans-serif;
// bg color
$yollow: #e3ec91;
