@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
.best-product {
  width: 100%;
}
.best-product .best-product-container {
  min-width: 300px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 100px;
}
.best-product .best-product-container .best-procut-content .best-product-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 20px 0;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container {
  position: relative;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .slide-button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 25%;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .slide-button button {
  border: none;
  cursor: pointer;
  background-color: #5d8834;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-family: "Courier New", Courier, monospace "Poppins", sans-serif;
  text-transform: capitalize;
  z-index: 999;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container {
  display: flex;
  gap: 30px;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img {
  transition: 0.8s;
  width: 380px;
  display: inline-block;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-duble-img {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-duble-img:hover #hover-imgx {
  cursor: pointer;
  visibility: visible;
  transform: scale(1.1);
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-duble-img div {
  width: 270px;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-duble-img div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-duble-img .hover-img {
  position: relative;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-duble-img #hover-imgx {
  top: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  position: absolute;
  transition: 0.3s;
  visibility: hidden;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-img-text .starts {
  color: #ffc400;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-img-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-img-text span {
  text-align: justify;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
.best-product .best-product-container .best-procut-content .best-product-slide-container .product-images-container .product-img .product-img-text p {
  text-align: center;
  width: 50%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}/*# sourceMappingURL=best-product.css.map */